body{
    font-size: 1.125rem;
    font-family: "Marcellus SC", serif;
    margin: 0;
    color: white;
    background-color: hsl(0, 0%, 7%);
}

hr {
    margin-top: 1em;
    margin-bottom: .5em;
}

/* Monster Hunter Logo */
.header img{
    max-width: 100%;
    width: 10%;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    border: solid grey 3px;
}

.header h1 {
    display: inline;
    width: 75%;
}

.header {
    justify-content: space-around;
    display: flex;
    align-items: center;
}

header nav{
    border-top: white 1px solid;
    border-bottom: white 1px solid;
}

nav ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: white;
}

nav li{
    text-align: center;
    width: 100%;
    border-bottom: grey 1px solid;
}

nav li:last-child{
    border-bottom: none;
}

nav li:hover {
    background-color: hsl(0, 0%, 17%);
    
}

/* Main section */
/* Welcome Section */

.welcome h1, .welcome p{
    text-align: center;
}

.banner-container{
    display: flex;
    justify-content: center;
}

.banner-container img{
    width: 90%;
    margin-bottom: 2em;
}

/* Profile Section */

.profile-section {
    display: flex;
    flex-direction: column;
    align-items: center;

}

#profile-photo{
    border-radius: 50%;
    background-size: cover;
    width: 60%;
    
}

.profile-section h1{
    order: -1;
}

#profile h1{
    display: none;
}

#profile p{
    text-align: left;
}

#profile p:first-child{
    padding-top: 1em;
}

/* Company Vision & Mission */

.vision-mission{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
}

.vision-mission h1, .vision-mission p {

    text-align: center;

}
.vision-mission p{
    font-size: 1rem;
}


/* monster */

.collection{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.collection h3{
    text-align: center;
}

.monster-cage {
    width: 40%;
}

.monsters img {
    float: left;
    object-fit: cover;
    min-width: 100%;
    max-width: 100%;
}

/* form  */

form {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

form .gender {
    display: inline;
}

/* User info */

button{
    text-align: center;
    font-size: 20px;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

#user-card{
    width: 60%;
    margin: 2em auto;
    border: double 5px gold;
    background-color: hsl(0, 0%, 17%);
}

#user-card p{
    text-align: left;
    margin-left: 1em;
}

#user-card span {
    color: gold;
}

footer{
    background-color: hsla(0, 0%, 50%, 0.664);
    margin-top: 3em;
    text-align: right;
}

footer p{
    margin: 0;
    padding: 8px;
}
/* Media query */

/* Deskop Screen */

@media (min-width: 900px){
    .header1{
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid white;
        align-items: center;
        justify-content: space-around;
    }

    header nav{
        border-top: initial;
        border-bottom: initial;
    }

    nav ul {
        flex-direction: row;
        justify-content: center;
        padding: initial;
        margin: initial;
        list-style: none;
        gap: 1em;
    }

    nav li{
        text-align: initial;
        width: initial;
        border: solid black 1px;
        padding: 10px;
        text-align: center;
        color: white;
        background-color: hsl(0, 8%, 3%);
    }

    /* Main Section */

    .welcome{
        margin-left: 3em;
    }

    .welcome h1, .welcome p {
        text-align: left;
    }

    .banner-container img{
        width: 80%;
    }
    
    /* Profile Section */

    .profile-section {
        flex-direction: row;
        justify-content: space-evenly;
        padding-bottom: 2em;
        padding-top: 2em;
    }

    #profile-photo{
        width: 30%;
    }

    .profile-section h1{
        display: none;
        order: initial;
    }

    #profile h1{
        display: block;
    }

    /* Vision-mission */

    .vision-mission{
        width: 80%;
        font-size: 1.5rem;
    }
    
    .vision-mission h1,  .vision-mission p {
        font-size: 1.5rem;
    }
    
    /* Monster */

    .collection{
        flex-wrap: nowrap;
    }

    .monsters {
        width:80%;
        margin: 0 auto;
    }

    /* Form */

    #Message-Us{
        margin-top: 1em;
        display: flex;
        flex-direction: row;
        justify-content:space-around;
    }

    form {
        width: 40%;
    }
    
    #user-card{
        width: 30%;
        max-width: 30%;
        margin: initial auto;
       
    }

    #set-message{
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 7;
        line-clamp: 7;
        -webkit-box-orient: vertical;
    }
    
    #user-card span {
        color: gold;
    }
    
}

