body{
    background-color: #111;
    color: white;
    font-family: "Marcellus SC", serif;
}

#navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo-site{
    height: 50px;
    width: 50px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    margin-left: 3em;
    border: solid grey 3px;
}

header>nav{
    margin-right: 3em;
}

header>nav>a{
    text-decoration: none;
    border: solid black 1px;
    padding: 10px;
    text-align: center;
    color: white;
    background-color: hsl(0, 8%, 3%);
}
header>nav>a:hover{
    background-color: hsl(0, 0%, 10%);
}

.welcome{
    margin-left: 5em;
}

#banner{
    background-size: 1366px 578px;
    background-position: center;
    display: block;
    margin-top: 3em;
    margin-bottom: 3em;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

#profile-section{
    display: flex;
    justify-content: space-evenly;
    padding-top: 4em;
    width: 100%;
    padding-bottom: 4em;
    align-items: center;
}

#profile{
    font-size: 20px;
}

#profile-photo{
    border-radius: 50%;
    background-size: cover;
    width: 30%;
    
}

.about-c-c-v{
    text-align: center;
    padding-top: 0.5em;
    
}

#about-company{
    font-size: 22px;
    
}

#mission-vision{
    font-size: 24px;
    padding-bottom: 0.5em;
}

.monsters {
    height: 200px;
}

article{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

label {
    display: inline-block;
    width: 20%;
    box-sizing: border-box;
}

#user-name, #user-date {
    width: 79%;
    box-sizing: border-box;
}

button{
    text-align: center;
    font-size: 20px;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

#user-card{
    width: 30%;
    margin-top: 40px;
    padding-left: 10px;
    padding-top: 20px;
    border: double 5px gold;
    background-color: hsl(0, 0%, 17%);
}